<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PassOver2.Connect"
            connectionString="Data Source=laptop-7lva2ppq;Initial Catalog=PassOver2;Integrated Security=True; MultipleActiveResultSets=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>